<%= link_to 'Retour au menu', :controller => :admin_menu %><br/>
<br/>

<p>
    <b>host</b> - The hostname used for this request.<br/>
	[<%=h request.host %>]
</p>

<p>
    <b>domain</b> - The hostname without the first part (usually "www").<br/>
	[<%=h request.domain %>]
</p>

<p>
    <b>format</b> - The content type requested by the client.<br/>
	[<%=h request.format %>]
</p>

<p>
    <b>method</b> - The HTTP method used for the request.<br/>
	[<%=h request.method %>]
</p>

<p>
    <b>get?, post?, put?, delete?, head?</b> - Returns true if the HTTP method is get/post/put/delete/head.<br/>
	[<%=h request.get? %>]<br/>
	[<%=h request.post? %>]<br/>
	[<%=h request.put? %>]<br/>
	[<%=h request.delete? %>]<br/>
	[<%=h request.head? %>]
</p>

<p>
    <b>headers</b> - Returns a hash containing the headers associated with the request.<br/>
	[<%=h request.headers %>]
</p>

<p>
    <b>port</b> - The port number (integer) used for the request.<br/>
	[<%=h request.port %>]
</p>

<p>
    <b>protocol</b> - The protocol used for the request.<br/>
	[<%=h request.protocol %>]
</p>

<p>
    <b>query_string</b> - The query string part of the URL - everything after "?".<br/>
	[<%=h request.query_string %>]
</p>

<p>
    <b>remote_ip</b> - The IP address of the client.<br/>
	[<%=h request.remote_ip %>]
</p>

<p>
    <b>url</b> - The entire URL used for the request.<br/>
	[<%=h request.url %>]
</p>
