<%= render :partial => 'common/top_menu' %>

<h2>Non-Nommées</h2>

<table border="2">
<thead>
	<th colspan="2">Routes</th>
</thead>
<%
	@routes_hash.each_with_index { |r, i|
%>
<tr>
	<td><%= i %></td>
	<td>
		defaults : <%= r.defaults %><br/>
		constraints : <%= r.constraints %><br/>
		precedence : <%= r.precedence %><br/>
		<u>pattern</u> : <br/>
		&nbsp;&nbsp;pattern.ast : <%= r.path.ast %><br/>
		&nbsp;&nbsp;pattern.names : <%= r.path.names %><br/>
		&nbsp;&nbsp;pattern.source : <%= r.path.source %><br/>
	</td>
</tr>
<% } %>
</table>
<br/>

<h2>Nommées</h2>

<table border="2">
<thead>
	<th colspan="3">Routes nommées</th>
</thead>
<%
	@routes_hash.each_with_index { |nr, i|
		if nr.is_a?(Array)
			r = nr[1]
			nom_route = nr[0]
		else
			r = nr
			nom_route = r.name
		end
%>
<tr>
	<td>
		<%= i %>
	</td>
	<td>
		<%= nom_route %>
	</td>
	<td>
		defaults : <%= r.defaults %><br/>
		constraints : <%= r.constraints %><br/>
		precedence : <%= r.precedence %><br/>
		<u>pattern</u> : <br/>
		&nbsp;&nbsp;pattern.ast : <%= r.path.ast %><br/>
		&nbsp;&nbsp;pattern.names : <%= r.path.names %><br/>
		&nbsp;&nbsp;pattern.source : <%= r.path.source %><br/>
	</td>
</tr>
<%
	}
%>
</table>
