<table border="2">
<thead>
	<th colspan="2">Model classes</th>
</thead>
<%
	@all_models.each_with_index { |(name, relations), i|
-%>
<tr>
	<td><%= i %></td><td colspan="2"><%= name %></td>
</tr>
<%
		relations.each { |type, relations_of_type|
-%>
<tr>
	<td></td><td colspan="2"><%= type %> [<%= relations_of_type.size %>]</td>
</tr>
<%
			relations_of_type.each { |r|
-%>
<tr>
	<td colspan="2"></td><td><%= r.inspect %></td>
</tr>
<%
			}
		} # relations.each
	} # @all_models.each_with_index
-%>
</table>
