<h1>Liste des inflexions</h1>

<u>Exemples:</u><br/>
pluriel de categorie: <%= "categorie".pluralize %><br/>
singulier de categories: <%= "categories".singularize %><br/>
<br/>

<table border="2">
<thead>
	<th>r&egrave;gle</th><th>remplacement</th>
</thead>

<tr>
	<th colspan="2" id="pluriels">[<%= @inflections_plur.size %>] pluriel(s)</th>
</tr>
<%  @inflections_plur.each { |(rule, replacement)| %>
<tr>
	<td><%= rule %></td><td><%= replacement %></td>
</tr>
<% } %>
</table>

<br/>

<table border="2">
<thead>
	<th>r&egrave;gle</th><th>remplacement</th>
</thead>
<tr>
	<th colspan="2" id="singuliers">[<%= @inflections_sing.size %>] singulier(s)</th>
</tr>
<%  @inflections_sing.each { |(rule, replacement)| %>
<tr>
	<td><%= rule %></td><td><%= replacement %></td>
</tr>
<% } %>

</table>

