<h3>Chemin des Gems</h3>

<table border="2">
<thead>
	<tr><th>n°</th><th>chemin</th></tr>
</thead>
<%
	if Rails::VERSION::MAJOR < 3
%>
<%
		Gem.path.each_with_index do |_chemin, i|
%>
<tr><td><%= i %></td><td><%= _chemin %></td></tr>
<%
		end
	else
%>
<tr><td></td><td>Aucune info.</td></tr>
<%
	end
%>
</table>
<br/>


<h3>Liste des gems chargés dans l'application :</h3>

<table border="2">
<thead>
	<tr><th>No</th><th>Nom</th><th>Version</th></tr>
</thead>
<%
	@application_gems.each_with_index do |g, i|
%>
<tr>
	<td><%= i %></td><td id="gem_name_<%= g.name %>"><%= g.name %></td><td><%= ((Rails::VERSION::MAJOR < 3) ? g.requirement : g.version.to_s ) || '&nbsp' %></td>
</tr>
<%
	end
%>
</table>

<h3>Liste des gems disponibles :</h3>
Aucune info.
