<table border="2">
<thead>
	<th colspan="2">Chemin des Gems</th>
</thead>
</table>
<%
	Gem.path.split.each_with_index { |_chemin, i|
%>
<tr><td><%= i %></td><td><%= _chemin %></td></tr>
<% } %>
<br/>


<table border="2">
<thead>
	<th>No</th>
	<th>Nom</th>
	<th>Version</th>
</thead>
<%
	Rails.configuration.gems.each_with_index { |g, i|
%>
<tr>
	<td><%= i %></td><td><%= g.name %></td><td><%= g.requirement || '&nbsp' %></td>
</tr>
<% } %>

</table>
