<%= link_to 'Retour au menu', :controller => :admin_menu %><br/>
<br/>
<%= link_to 'Autre', new_command_path %> |
<%= link_to 'Historique des commandes', commands_path %> |
<%= link_to 'Executer', execute_command_path(@command) %>

<p>
  <b>Command executée :</b>
  <%=h @command.execute %>
</p>

<%= render :partial => 'execute_results' %>
