<%= link_to 'Historique des commandes', commands_path %>
<br/>
<% form_for(@command) do |f| %>
<%= render :partial => 'common/error_messages', :model => @command %>

  <p>
    <%= f.text_field :execute %>
  </p>
  <p>
    <%= f.submit 'Execute' %>
  </p>
<% end %>

<%= render :partial => 'execute_results' %>
